@model MvcApp.Domain.ViewModels.Profiles.ArticleVM

@{
    ViewBag.Title = "EditArticle";
}

    <div class="col-lg-8 my-item divcolor">
        @using (Html.BeginForm("EditArticle", "Page", FormMethod.Post))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-row">
                <div class="form-group col-md-5">

                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 ">
                    @Html.LabelFor(model => model.Slug, htmlAttributes: new { @class = "control-label col-md-2" })
                    <br />
                    @Html.TextAreaFor(model => model.Slug, 8, 55, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Slug, "", new { @class = "text-danger" })
                    <br />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-5">
                    @Html.LabelFor(model => model.Tag, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Tag, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Tag, "", new { @class = "text-danger" })
                </div>
            </div>


            <button type="submit" class="btn btn-success">Edit Article</button>
            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
        
