@model MvcApp.Domain.Data.IndexViewModel
@using MvcApp.Domain.Data
@using MvcApp.Helpers
@{
    ViewBag.Title = "Index";
}

<div id="results" class="col-sm-8 my-item divcolor justify-content-center  ">

    <div class="list-group">
        @foreach (var b in Model.Articles)
        {
            string str = b.Tag;
            <div class="col-sm-8 mx-auto">
                <div class="list-group-item">
                    <h5 class="text-black-50">@b.Title</h5>
                    <small class="mb-1">@b.Time</small>
                    <br />
                    <small class="mb-1">
                        @Ajax.ActionLink(b.Tag, "TagSearch", new { name = b.Tag }, new AjaxOptions { UpdateTargetId = "results", HttpMethod = "POST" })
                    </small>
                    <br />

                    <text> @b.Slug.Substring(0, 200)...</text>

                    <br />@Html.ActionLink("Посмотреть всю статью", "ViewArticle", new { id = b.Id }, new { @class = "btn btn-outline-primary" })
                    <br />
                    @Html.ActionLink("Delete", "DeleteArticle", new { id = b.Id }, new { @class = "delete" }) |
                    @Html.ActionLink("Edit", "EditArticle", new { id = b.Id }, new { @class = "edit" })
                </div>
            </div>
            <br />
            <hr />
        }

    </div>
    <div class="btn-group">
        @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
    </div>
</div>

<div class="col-2 my-item divcolor">
    @Html.Label("Поиск по тэгам")
    @using (Ajax.BeginForm("TagSearch", new AjaxOptions { UpdateTargetId = "results", LoadingElementId = "loading" }))
    {
        <div class="form-row">
            <div class="form-group col-md-6">
                @Html.TextBox("tag", null)
                <br />

                <input type="submit" value="Поиск" class="btn btn-success justify-content-center" />
            </div>

        </div>

        <div id="loading" style="display:none; color:seagreen; font-weight:bold;">Шекундоцку..</div>
    }

</div>